Body{
 margin: 0px;
}

button{
  cursor: pointer;
}

.Nav1{
  width: 80%;
}

.top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  font-size: 12px;
  color: white;
  background-color: black;
  height: 30px;
}

.Handlekurv{
margin-right: 20px;
}

.Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 70px;
}

.Header a{
  text-decoration: none;
  color: black;
}

.Header a:hover{
  border-bottom: 2px solid #000
}


#Logo{
  width: 200px;

}

#Salg{
  color: red;
}


a {
  text-decoration: none;
}



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: white;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  border-bottom: 2px solid #000;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  height: 250px;
  padding: 10px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
  border-bottom: 2px solid #000;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
  .top{
    display: none;
  }
}
