

#Grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
}

#Bilde{
  width: 80%;
  margin: auto;
}


@media screen and (max-width: 700px){
  #Grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px;
}
}

#Kjøp_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 70px;
}

@media screen and (min-width: 1400px){
  #Kjøp_grid{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

#Kjøp{
  background-color:black;
  color: white;
  width: 100%;
  height: 62px;
  border-radius: 6px;
}

#selSize{
  background-color:white;
  color: black;
  width: 100%;
  height: 60px;
}

@media screen and (max-width: 700px){
  #Kjøp_grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px;
    margin-top: 0px;
}
}

#liknendeVarer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 23px;
  width: 82%;
  margin: auto;
}

@media screen and (max-width: 700px){
  #liknendeVarer{
    grid-template-columns: 1fr 1fr;
}
}

#kanskje{
  text-align: center;
  font-size: 30px;
}


#kanskjeBilde{
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}
